.features-section {
  padding-top: 24px;
  padding-bottom: 61px;
  background-color: var(--sections-back-color);
}

.features-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
  min-width: 361px;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.features-items {
  padding: 32px 38px 34px 38px;
  border-radius: 10px;
  border: 1px solid #dedede;
}

.features-icon-wrap {
    width: 50px;
height: 50px;
flex-shrink: 0;
border-radius: 19px;
display: flex;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
margin-bottom: 32px;
}


.features-item-title {
text-align: center;
font-size: 24px;
line-height: 1.37;
letter-spacing: 0.004em;
margin-bottom: 16px;
}

.features-item-text {
text-align: center;
line-height: 1.69;
letter-spacing: 0.01em;
}

/* ======================DESKTOP================= */

@media screen and (min-width: 1158px) {
    .features-section {
        padding-bottom: 68px;
    }
    
    .features-title {
        font-size: 34px;
    }

    .features-list {
        flex-direction: row;
    }
    
}