
.strateg-title {
font-size: 34px;
line-height: normal;
margin-bottom: 8px;
}

.strateg-text {
font-weight: 500;
line-height: 1.62;
margin-bottom: 40px;
}

.strateg-list {
display: flex;
flex-direction: column;
gap: 16px;
}


.strateg-content-wrap{
padding: 24px 54px 40px 0;
border-radius: 8px;
background: transparent;

}

.author-date {
line-height: 1.75;
margin-bottom: 12px;
}

.author-accent {
font-weight: 700;
line-height: 28px;
}

.strateg-item-text {
font-size: 24px;
font-weight: 700;
line-height: 1.67;
}

.current-card{
    color: var(--brand-color);
}

.strateg-icon {
    display: none;
}

/* ========================DESKTOP=================== */

@media screen and (min-width: 1158px) {
    
    .strateg-title {
        margin-bottom: 10px;
    }


    .strateg-list {
        flex-direction: row;
        gap: 30px;
        margin-bottom: 45px;
    }
    
    .strateg-items {
        width: calc((100% - 60px) / 3);
    }

    .strateg-content-wrap {
        border: 1px solid #EFEFEF;
        padding: 24px 27px 40px 27px;
    }
    
    .strateg-icon {
        display: flex;
        margin: 0 auto;
    }
}