:root {
  --main-color-text: #22343d;
  --second-color-text: #737373;
  --color-text-white: #fff;
  --brand-color: #02897a;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --hover-color-btn: #028e37;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-color-text);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
button {
  cursor: pointer;
  display: block;
}
.link {
  text-decoration: none;
  font-style: normal;
}
.list {
  padding: 0;
  list-style-type: none;
}
.container {
  max-width: 410px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* HEADER SECTION */

.header {
  box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.25);
}
.header-page {
  display: flex;
  padding-top: 21px;
  padding-bottom: 21px;
  align-items: center;
}

.logo {
  color: #173a56;
  font-size: 30px;
  font-weight: 700;
  line-height: 0.93;
  display: flex;
  align-items: center;
}

.logo-icon {
  margin-right: 8px;
}

.nav-list {
  display: none;
}

.sign-in-btn {
  display: none;
}

.sign-up-btn {
  display: none;
}

.light-btn {
  display: none;
}

.mobile-menu-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 1158px) {
  .logo-icon {
    margin-right: 16px;
  }

  .logo {
    margin-right: auto;
  }

  .mobile-menu-icon {
    display: none;
  }

  .navigation-header {
    margin-right: 24px;
  }

  .nav-list {
    display: flex;
    gap: 30px;
  }

  .nav-links {
    color: #22343d;
    line-height: 1.75;
  }

  .current {
    font-weight: 600;
  }

  .sign-in-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #bcd0e5;
    color: #173a56;
    font-weight: 600;
    line-height: normal;
    background-color: transparent;
    margin-right: 24px;
    transition: background-color var(--timing-function),
      border var(--timing-function), color var(--timing-function);
  }

  .sign-in-btn:hover,
  .sign-in-btn:focus {
    background-color: #173a56;
    color: var(--color-text-white);
    border: none;
  }

  .sign-up-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--brand-color);
    color: var(--color-text-white);
    font-weight: 600;
    line-height: normal;
    border: none;
    margin-right: 23px;
    transition: background-color var(--timing-function),
      border var(--timing-function);
  }

  .sign-up-btn:hover,
  .sign-up-btn:focus {
    background-color: var(--hover-color-btn);
  }

  .light-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background: #f3f3f3;
    border: none;
  }

  .mobile-menu-btn {
    display: none;
  }
}

/* / HEADER SECTION */

/* HERO SECTION */

.hero {
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.hero > img {
  width: 338px;
  height: 310.92px;
  margin-bottom: 11px;
}

.hero-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.66;
  margin-bottom: 16px;
}
.hero-text {
  text-align: center;
  font-size: 18px;
  line-height: 1.55;
  margin-bottom: 16px;
}

.buttons-wrap {
  display: flex;
  gap: 28px;
  align-items: center;
}

.hero-btn {
  width: 142px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #02897a;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-white);
  font-weight: 700;
  line-height: normal;
  transition: background-color var(--timing-function);
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--hover-color-btn);
}

.video-link-hero {
  display: flex;
  color: var(--brand-color);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-items: center;
  transition: color var(--timing-function);
}

.video-icon {
  fill: var(--brand-color);
  margin-right: 8px;
  transition: fill var(--timing-function);
}

.video-link-hero:hover,
.video-link-hero:focus {
  color: var(--hover-color-btn);
}

.video-link-hero:hover > .video-icon,
.video-link-hero:focus > .video-icon {
  fill: var(--hover-color-btn);
}

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 25px;
    flex-direction: row;
    gap: 35px;
  }
  .hero > img {
    width: 610px;
    height: 555px;
  }

  .hero-title {
    text-align: start;
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 18px;
  }
  .hero-text {
    text-align: start;
    margin-bottom: 45px;
  }

  .hero-btn {
    width: 178px;
    height: 53px;
  }
}
/* / HERO SECTION */

/* WHAT WE OFFER */

.offers {
  padding-top: 66px;
  padding-bottom: 38px;
}

.offers-title {
  text-align: center;
  font-size: 32px;
  line-height: normal;
  width: 331px;
}
.offers-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 37px;
}

.offers-items {
  padding: 0 7px 5px 7px;
}

.offer-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 19px;
  border: none;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.green {
  background-color: #02897a;
}

.blue {
  background-color: #4d8dff;
}

.purple {
  background-color: #740a76;
}

.red {
  background-color: #f03e3d;
}

.offers-item-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.offers-text {
  text-align: center;
  line-height: 1.62;
}

.offers-btn {
  width: 175px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--brand-color);
  color: var(--color-text-white);
  font-weight: 700;
  line-height: normal;
  border: none;
  margin: 0 auto;
  text-transform: uppercase;
  transition: background-color var(--timing-function);
}

.offers-btn:hover,
.offers-btn:focus {
  background-color: var(--hover-color-btn);
}

@media screen and (min-width: 1158px) {
  .offers {
    padding-top: 50px;
    padding-bottom: 43px;
  }

  .offers-title {
    width: 500px;
    margin: 0 auto 50px auto;
  }

  .offers-list {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 76px;
  }

  .offers-items {
    width: calc((100% - 90px) / 4);
  }
  .offer-icon-wrap {
    margin: 0 0 26px 0;
  }

  .offers-item-title {
    text-align: start;
    margin-bottom: 13px;
  }
  .offers-text {
    text-align: start;
  }

}
/* / WHAT WE OFFER */


/* BENEFITS */

.benefits {
  padding-top: 95px;
  padding-bottom: 80px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.benefits-item {
  display: flex;
  flex-direction: column-reverse;
}

.center-item{
  display: flex;
  flex-direction: column;
}

.inside-list{
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.benefits-content-wrap {
  margin-top: 50px;
}

.benefits-title-text {
font-weight: 600;
line-height: normal;
margin-bottom: 8px;
}

.benefits-title {
font-size: 32px;
line-height: normal;
margin-bottom: 16px;
}

.benefits-text {
line-height: 1.62;
margin-bottom: 16px;
}

.benefits-items-title {
font-weight: 600;
line-height: 1.62;
margin-bottom: 12px;
}

.benefits-center-item-inside{
  display: flex;
  gap: 30px;
  align-items: center;
}


.text-limit{
  max-width: 284px;
}


/* / BENEFITS */